<%= form_with(model: kind) do |form| %>
  <% if kind.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kind.errors.count, "error") %> prohibited this kind from being saved:</h2>

      <ul>
        <% kind.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--Se agrega campo para asignarle manualmente el ID a cada registro-->
  <div class="container mt-3">
   <div class="mb-3 mt-3">
     <%= form.label "Id de la clase de activo", :class=>"form-label", style: "display: block" %>
     <%= form.text_field :id, :class=>"form-control" %>
   </div>
   <div class="mb-3">
     <%= form.label "Nombre de la clase de activo", :class=>"form-label", style: "display: block" %>
     <%= form.text_field :name, :class=>"form-control" %>
   </div>

   <div>
     <i class= "separar d-flex bi">
       <span class="">
         <%= button_tag(:type => 'submit', :title=>'Actualiza los datos', :class => 'bi bi-arrow-counterclockwise btn') do %>
           <i class="icon-up-arrow icon-white"></i>
         <% end %>
           
       </span>
         <%= link_to "", kinds_path, :class=>"bi bi-skip-backward-btn-fill btn", :title=>'Retornar a grupos' %>
     </i>
   </div>
 <% end %>
