<div class="container">
    <div id="<%= dom_id active %>">
      <p>
        <strong>Placa de activo:</strong>
        <%= active.id %>
      </p>
    
      <p>
        <strong>Código de barras:</strong>
        <%= active.barcode %>
      </p>
    <p>
        <strong>Serial:</strong>
        <%= active.serial %>
      </p>
      <p>
        <strong>Nombre del activo:</strong>
        <%= active.name %>
      </p>
    </div>
</div>