<% if flash[:notice] %>
    <div class="alert alert-success" role="alert" id="notice" class="notice">
        <%= flash[:notice] %>                                    
    </div>
<% end %>

<!--Se agrega personalizacion con boostrap para visualizacion de las vistas de zonas -->
<div class="container">
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->



  <nav class="navbar navsep navbar-expand-sm navbar-rednav bg-rednav rounded">
    <div class="container-fluid">
      <div class="navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
          <i>
            <%= link_to " Nueva activo", new_active_path, :class=>"nav-item nav-link bi bi-plus-square-dotted" %>
          </i>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Active">
          <button class="btn btn-secondary" type="button">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  
  <div class="row">
      <div class="col-md-8">
        <div class="tzona">
            <h1>ACTIVOS</h1>
        </div>
            <table class="table table-dark table-hover">
                  <tr class="text-dark">
                    <th>PLACA DE ACTIVO</th>
                    <th>NOMBRE</th>
                    <th>ACCIONES</th>
                  </tr>
                      <div id="actives">
                        <% @actives.each do |active| %>
                          <tr>
                            <td>
                              <%= active.id%>
                            </td>
                            <td>
                              <%= active.name %>
                            </td>
                            <td>
                              <i class="separar">
                                <%= link_to "", active, :class=>"bi bi-eye-fill btn" %>
                                <%= button_to "", active, method: :delete, :class=>"bi bi-trash btn", :data=>{turbo_confirm:'Estás seguro?'}%>
                                <%= link_to "", edit_active_path(active), :title=>"Editar", :class=>" bi bi-pencil-fill btn" %>
                              </i>
                            </td> 
                          </tr>
                        <% end %>
                      </div>
            </table> 
      </div>
  </div>
</div>



